<appSettings>
  <add key="BROWSER_NAME" value="chrome" />
  <add key="BROWSER_PATH" value="D:\\Project\\PageFlex\\Source\\ImageLibraryTest\\SILSeleniumTest\\bin\Debug\\" />

  <add key="HOST_URL" value="http://testnewapp.getrightmarket.com"/>
  <add key="NEWAPP_URL" value="http://seleniumtest.getrightmarket.com"/>
  <add key="TIMEOUT_IN_SECOND" value="30" />
  <add key="MopinionFormId" value="3f80dcac7255541c1e624c4bcaeeb79e6107f993"/>

  <!--Connect DB-->
  <add key="CONNECTSTRING" value="mongodb://localhost:27017/gdm"/>
  <!--<add key="CONNECTSTRING" value="mongodb://admin:admin@10.0.0.6:27017/test_selenium_v3"/>-->

  <!--API Key-->  
  <add key="APIKEY" value="cbd0011a-9400-42a0-9241-f5c969f8afb1"/>
  <!--<add key="APIKEY" value="830c2208-cac5-410e-a348-13d57ca7016f"/>-->

  <add key="SIGKEY" value="x/NbE2Oc_0/foctx4rJNB3nes_MNgQy6TDZGp_BtLMk="/>
  <!--<add key="SIGKEY" value="0E9CxaIW1pwdoqkjF/xfF7YeG0_gAq8L2QsqVX8owm0="/>-->

  <add key="ADMIN_ID" value="rightmarket" />
  <add key="ADMIN_PASSWORD" value="123" />

  <add key="USER_ID" value="RightMarket" />
  <add key="USER_PASSWORD" value="123" />
  
  <add key="CUSTOMER_ADMIN" value="CustomerAdmin" />
  <add key="CUSTOMER_PASSWORD" value="123" />

  <!-- the below user can view staged contents on deployment test.rightmarket.co  m-->
  <add key="USER_VIEW_STAGED_NAME" value="user@viewstaged.com" />
  <add key="USER_VIEW_STAGED_PASSWORD" value="test" />
  
  <!--<add key="USER_ROOT" value="RightMarket" />
  <add key="PASS_ROOT" value="123" />-->
  
  <!--poster add to basket-->
  <add key="BASKET_POSTER_NAME" value="BusinessCard" />
  <add key="DRAFT_POSTER_NAME" value="DraftA4Poster" />
  <add key="ADVANCED_FLYER_NAME" value="Advanced Flyer" />

  <add key="longTimeout" value="30" />
  <add key="middleTimeout" value="20" />
  <add key="shortTimeout" value="5" />
  <add key="newAppTestDir" value="C:\NewAppTestDir" />

</appSettings>