<appSettings>

  <add key="HOST_URL" value="http://testnewapp.getrightmarket.com"/>
  <add key="NEWAPP_URL" value="http://seleniumtest.getrightmarket.com"/>

  <add key="ADMIN_ID" value="rightmarket" />
  <add key="ADMIN_PASSWORD" value="123" />

  <add key="USER_ID" value="cong.truong@vn.rightmarket.com" />
  <add key="USER_PASSWORD" value="123" />
  
  <add key="CUSTOMER_ADMIN" value="CustomerAdmin" />
  <add key="CUSTOMER_PASSWORD" value="123" />
  
  <add key="MopinionFormId" value="3f80dcac7255541c1e624c4bcaeeb79e6107f993"/>

  <add key="longTimeout" value="30" />
  <add key="middleTimeout" value="20" />
  <add key="shortTimeout" value="5" />

  <add key="downloadFolderName" value="NewAppTestDir" />

  <add key="dataDrivenForConditional" value="DataProviders\TestPlanConditional.xml" />
  <add key="dataDrivenForSpecialCharacters" value="DataProviders\TestPlanSpecialCharacters.xml" />
  <add key="dataDrivenForMigration" value="DataProviders\TestPlanMigration.xml" />
  <add key="dataDrivenForNewApp" value="DataProviders\TestPlanNewApp.xml" />

  <add key="contents" value="Content\imageTest" />

</appSettings>